[flake8]
max-line-length =  135
max-doc-length = 200
exclude =.git,__pycache__,docs/conf.py,build,dist,setup.py,tests,.venv
ignore = F401,D100,D102,D103,D107,D104,D200,D202,D207,D400,E203,E701
inline-quotes = "